{
  "plugins": [
    "typescript"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src"
          ]
        ],
        "extensions": [
          ".ts",
          ".js",
          ".jsx",
          ".json"
        ]
      }
    }
  },
  "extends": [
    "@aimake/eslint-config",
    "plugin:react/recommended"
  ],
  "rules": {
    "jsx-wrap-multiline": false,
    "no-unused-vars": [
      "error"
    ],
    "import/no-unresolved": 0,
    "linebreak-style": 0,
    "react/no-array-index-key": 0,
    "no-console": 0
  },
  "parser": "babel-eslint"
}
