{
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": false,
  "printWidth": 100,
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "requirePragma": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
