@import '../../../../../common/less/mixin.less';
@import '../../../../../common/less/variable.less';

.tableHeaderContainer {
  width: 100%;
  min-height: 30px;
  background-color: @card_header;
  #myFont.medium(12px, @nav_font);
  .tableHeader {
    height: 30px;
  }
}
