@import '../../../../../common/less/mixin.less';
@import '../../../../../common/less/variable.less';

.tableContentContainer,
.tableHeaderContainer {
  border: 0;
  td,
  th {
    padding: 0;
  }
  width: 100%;
}

.tableHeaderContainer {
  background-color: @card_header;
  white-space: nowrap;
  #myFont.medium(12px, @nav_font);
  .tableHeader {
  }
  // 隐藏header中的tbody
  .tableContentTbody {
    .defaultColClass {
      height: 0px;
      overflow: hidden;
    }
  }
}

.tableContentContainer {
  #myFont.medium(14px, @main_font);
  .tableContentTbody {
    > tr {
      &:nth-child(odd) {
        background: @item_first;
      }
      &:nth-child(even) {
        background: @item_second;
      }
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

// 默认列样式
.defaultColClass {
  display: flex;
  align-items: center;
  &.aligncenter {
    justify-content: center;
  }
  &.alignleft {
    justify-content: flex-start;
  }
  &.alignright {
    justify-content: flex-end;
  }
}

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.2);
}

.loadMoreContainer {
  #myFont.medium(14px, @main_font);
  display: flex;
  align-items: center;
  justify-content: center;
}
