.container {
  position: relative;
  .defaultCarousel {
    overflow: hidden;
  }
  .slickDots {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      display: inline-block;
      width: 85px;
      height: 36px;
      background: center center no-repeat;
      background-size: cover;
      border-color: transparent;
      outline: none;
      cursor: pointer;
      margin: 0 5px 0 5px;
      transition: all 0.5s ease-out;
      &.buttonActive {
        width: 89px;
        height: 40px;
        border: 1px solid rgba(202, 89, 255, 1);
      }
    }
  }
}
