@import '../../../common/less/variable.less';
@import '../../../common/less/mixin.less';
.customTabBar {
  #myFont.medium(14px, @nav_font);
  overflow: hidden;
  &.customTabBarFullContainer {
    height: 100%;
    display: flex;
    flex-flow: column;
  }
  // 清除ul li默认样式
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .tabBarUl {
    height: 100%;
    display: flex;
    list-style: none;
    &.tabBarHeightNormal {
      height: 40px;
    }
    &.tabBarHeightBig {
      height: 60px;
      font-size: 20px;
    }
    // li充满ul
    &.tabFullTabBar {
      justify-content: space-around;
    }
    // 普通下滑线
    &.ulBottomBorder {
      border-bottom: 1px solid @nav_font;
    }
    li {
      text-align: center;
      display: flex;
      align-items: center;
      // flex: 1 1 auto;
      position: relative;
      padding: 0 20px;
      user-select: none;
      transition: 0.1s all linear;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 100%;
        transition: 0.2s all linear;
      }
      // 激活下滑线的位置
      &.borderBottom:not(.withoutActiveLine) {
        &::before {
          border-bottom: 2px solid @main_color;
        }
      }
      &.borderTop:not(.withoutActiveLine) {
        &::before {
          border-top: 2px solid @main_color;
        }
      }
      // 悬浮时的颜色
      &:hover {
        color: @hover_font;
      }
      // 点击时的颜色
      &:active {
        color: @main_font;
      }
      // 禁止点击时
      &.disabled {
        // 禁止所有鼠标事件
        pointer-events: none !important;
        cursor: not-allowed !important;
      }

      &.active {
        // 激活时带遮罩
        &.activeWithMark {
          transition: 0.3s all ease-out;
          background-color: fade(@main_color, 20%);
        }
        //激活时的颜色
        color: @main_font;
        // 激活时移动下方的border
        &::before {
          width: 100%;
          top: 0;
          left: 0;
          transition-delay: 0.1s;
        }
        & ~ li::before {
          left: 0;
        }
      }
    }
  }
}

.customTabPaneContainer {
  flex: auto;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  transition: all 0.5s linear;
  .customTabPane {
    flex: auto;
  }
}
