<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="<%= context.publicPath %>manifest.json" />
    <link rel="icon" href="<%= context.publicPath %>favicon.ico" />
    <meta name="description" content="电竞鹰眼是为广大电竞爱好者提供电竞赛事分析、预测的多元化的电竞服务平台。" />
    <meta name="keywords"
        content="DOTA2,DOTA2比赛,DOTA,DOTA2竞猜,CSGO竞猜,LOL竞猜,电竞赛事,竞猜预测,菠菜预测,API,实时数据,数据接口,电竞,电子竞技,lol,英雄联盟,比分,在线直播,比赛记录" />
    <meta content="电竞鹰眼: 多元化的电竞服务平台" property="og:title" />
    <meta content="https://www.esportseyes.com/" property="og:url" />
    <meta content="电竞鹰眼" property="og:site_name" />
    <meta content="website" property="og:type" />
    <meta name=”renderer” content=”webkit” />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>电竞鹰眼玩家服务平台 - 首页</title>
</head>

<body>
    <div id="root">
        <noscript>
            <h3>Looks like your browser isn't allowing scripts! Enable JavaScript to run this app.</h3>
        </noscript>
    </div>
</body>
<script src="https://cdn.esportseyes.com/gt.js"></script>

</html>